<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMAGE.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AMAGE.Presentation.Properties.Settings>
            <setting name="ImageTitleMaxChars" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CultureInfo" serializeAs="String">
                <value>ru</value>
            </setting>
            <setting name="UseAsyncMode" serializeAs="String">
                <value>False</value>
            </setting>
        </AMAGE.Presentation.Properties.Settings>
    </userSettings>
</configuration>